table,th,td {
    border: 1px solid;
}
table {
    border-collapse: collapse;
}
th,td {
    padding: 15px;
}
table {
    width: 100%;
}
th{
    height: 40px;
}
table {
    width: 300px;
    table-layout: fixed;
}
th {
    text-align: left;
    height: 40px;
    vertical-align: bottom;
}
.produto{
    background-color: #424250 ;
}
.info {
    background-color: #BB86FC;
}
.form {
    background-color: #00C4B4;
}

